# Eclipse
.classpath
.project
.metadata
.settings/

# IntelliJ
/.idea/
/.idea_modules/
*.iml
*.iws
/out/

# Mac
.DS_Store

# Maven
/log/
/target/
dependency-reduced-pom.xml

# BuildSystem
/abstraction/target/
/v1_12_R1/target/
/v1_13_R1/target/
/v1_14_R1/target/